@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cuprum:ital,wght@0,400..700;1,400..700&family=Lobster&family=Permanent+Marker&family=Playpen+Sans:wght@100..800&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

body {
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 50px;
    font-style: normal;
    height: 100dvh;
    padding: 0;
    margin: 0;
    background-image: url(../../zetong-li-rXXSIr8-f9w-unsplash.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 80% 10%;
    font-size: 20px;
}
#content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
header {
    height: auto;
}
nav {
    display: flex;
    flex-direction: right;
}
button {
    width: 25%;
    height: 70px;
    border: none;
    font-size: 30px;
    background-color: rgb(160, 60, 60);
    color: white;
    padding: 20px;
}
button:hover {
    background-color: rgb(145, 78, 161);
}
.left {
    padding-left: 50px;
}
.right {
    padding: 50px;
}
.title {
    font-size: 30px;
    padding: 0;
    margin: 0;
}
.about {
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.compliment {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    box-shadow: 0 0 10px white;
    padding: 20px;
    font-size: 20px;
    border-radius: 12px;
}
footer {
    background-color: salmon;
    display: grid;
    place-items: center;
}